body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
.layout {
  overflow:hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.main > article {
  flex: 1;
}
/* .main > nav{
  flex:1
} */
.main > nav {
  order: -1;
}
.mainContent{
  display:flex;
  flex:10;
  flex-direction:column;
}
.mainContent article{
  flex:5;
}
.mainContent footer{
  flex:1;
}
header,
footer {
  height: 8vh;
}
.sideBar nav{
  position: fixed;
  height: 100%;
  width: 12vw;
  background-color: yellow;
}
.leftHeader{
 flex:1;
}
.leftHeader img{
  margin-left: 25px;
}
.leftHeader .iconMenu{
  margin-left: 70px;
}
.leftHeader .iconClose{
  margin-left: 33px;
}

.rightHeader {
  flex:6;
  display: flex;
  flex-direction: row;
}
.rightHeader .menuSearch{
  flex:1;
  float:left;
  position: relative;
}
.rightHeader .menuSearch .menuContent>i{
  transform: rotate(90deg);
  color:#3f6ad8;
}
.rightHeader .menuSearch .menuContent{
  height:100%;
  width:100%;
  position: relative;
}
.rightHeader .menuSearch .menuContent .dropDown1{
  padding-left:15px;
 cursor: pointer;
}
.rightHeader .menuSearch .inputHolder{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70%;
  display: flex;
  height: 60%;
}
.rightHeader .menuSearch .inputHolder input {
  margin-left: 5px;
  flex:8;
  border-radius: 9999px;
  background-color: #edeeef;
  border: none;

}
.rightHeader .menuSearch .inputHolder .iconSearch {
  flex:1;
  position: relative;
  width:30px;
  border-radius: 5px;
  padding:5px;
}
.rightHeader .menuSearch .inputHolder .iconSearch i{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color:#3f6ad8;
}
.rightHeader .menuSearch .inputHolder .iconClose {
  position: relative;
  flex:1;
  margin-left: 5px;
}
.rightHeader .menuSearch .inputHolder .iconClose i{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color:#6285de
}
.rightHeader .profileUser{
  flex:2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rightHeader .profileUser span{
margin-right: 10px;
}
.ant-layout-header{
  padding: 0px 0px!important;
}
.circle{
  background-color:#fff;
  border:1px solid white;    
  height:34px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:34px;
}
.hidden{
  display: none;
}
.app-footer{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.app-footer .left-footer{
  flex:2
}
.app-footer .right-footer{
  justify-content: flex-end;
  align-items: center;
  justify-items:end; 
  flex:5;
  display: flex
}
.main-sider {
  height: 100vh;
}
.profileUser .iconMenu{
  display: none;
}
.subHeader{
  width:100vh;
  height: 80px;
  background-color: #484848;
}